<style>
  .blocker-chat-open-button {
    
  }
  .blocker-chat-container {
    position: absolute;
    bottom: 10px;
    right: 10px;
    height: 30vh;
    width: 50px;
    background-color: red;
  }
  .blocker-chat-messages {
    background-color: blue;
    height: 100%;
    width: 100%;
  }
  .blocker-chat-message-input {

  }
</style>
<div class="blocker-chat-open-button">

</div>
<div class="blocker-chat-container">
  <div class="blocker-chat-messages">

  </div>
  <input type="text" id="blocker-chat-message-input" placeholder="Введите сообщение">
</div>
